* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Fira Sans;
}

body {
  background: white;
}

.active-navigation {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity)) !important;
}

.active-navigation::before {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: 50%;
  height: 0.5rem;
  width: 0.5rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-x: -50%;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(219, 39, 119, var(--tw-bg-opacity));
}

